<div class="show_events">
  <h2>Created Events</h2>
  <% @created_events.each do |event| %>
    <%= event.name %>
    <%= event.location %>
    <%= event.date %>
    <br />
  <% end %>
  <div class="attended_events">
    <h2>Attended Events</h2>
    <% @attended_events.each do |event| %>
        <%= event.name %>
        <%= event.location %>
        <%= event.date %>
        <br />
    <% end %>  
  </div>
</div>